html, body {
    height: 100%;
    margin: 0;
}



body {
    display: flex;
    align-items: center;
    justify-content: center;

}

.okno { 
    box-shadow: 0px 0px 30px 0px rgba(66, 68, 90, 0.62);
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 400px;
    width: 600px;
    border-radius: 30px;
}

.niebieskie {   
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    display: flex;
    background-color: hsl(234, 85%, 45%);
    background: linear-gradient(180deg, rgba(51,0,255,1) 0%, rgba(46,46,185,1) 100%);
    height: 100%;
    width: 100%;
    border-radius: 30px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-direction: column;
}


.tytul {
    color: white;
 }

 .kolko {
    color: white;
    background: linear-gradient(0deg, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 1) 100%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
    

.big {
    font-size: 54px;
    font-weight: 700;
}

.small {
    opacity: 50%;

}

.gratki {
    margin-top: -30px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    width: 80%;
}

.gratki2 {
    color: white;
    opacity: 70%;
    font-size: 14px;
    margin-top: -40px;
    width: 80%;
}

.tytul {
    opacity: 0.8;
    font-family: 'Hanken Grotesk', sans-serif;
    color: white;
    margin-top: -20px;
    font-size: 24px;
    font-weight: 700;
}

.biale {
    height: 60%;
    align-items: center;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#okienko {
    font-weight: 700;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 13px;
    display: flex;
    border-radius: 10px;
    margin: 2%;
    width: 65%;
    padding: 15px;
    height: 10%;
}

.zolte {
    background-color: hsl(39, 100%, 56%, 0.2)
}

.blekit {
    background-color: hsl(234, 85%, 45%, 0.2);
}

.zielone {
    background-color: hsl(166, 100%, 37%, 0.2);
}

.czerwone {
    background-color: hsl(0, 100%, 67%, 0.2);
}

.przycisk {
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: hsl(224, 30%, 27%);
    border-radius: 50px;
    padding: 10px;
    margin-top: 8%;
    width: 70%;
    text-align: center;
}

.przycisk:hover {
    opacity: 0.4;
    transition: 0.6;;
    cursor: pointer;
}

.statystyki {

    margin-left: auto;
}

.summary {
    font-family: 'Hanken Grotesk', sans-serif;
    color: black;
    font-size: 22px;
    font-weight: 800;
    margin-left: -50%;
    margin-bottom: 10px;
}

.attribution {
    position: absolute;
    top: -200px;
}

svg { margin-right: 0.5rem; }

.wyszarzone {
    opacity: 0.5;
}